# Ignore any build folders
*build*
mblusb

# Include build scripts
!build-scripts

# Cmake stuff to ignore
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Ignore editor configurations
.idea
.vs
.vscode
CMakeLists.txt.user
CMakeSettings.json
.kdev4
mblusb.kdev4
